@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for a cleaner app-like look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}